/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

p {
    color: #005f73;
    text-align: justify;
    margin: 10px;
}

h1 {
    color: #e9d8a6;
}

h2 {
    color: #005f73;
    text-align: center;
}

h3 {
    color: #005f73;
    text-align: center;
}

.boton {
    background-color: #005f73;
    color: #e9d8a6;
}

.boton:hover {
    background-color: #0a9396;
    color: white;
}

.titulo {
    text-align: center;
    font-weight: 600;
}

.logo {
    width: 30px;
    height: 30px;
}

.foto-portada {
    width: 100%;
    margin: 58px 0px 0px 0px;
}

/* Header */
nav {
    background-color: #0a9396;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.nav-link {
    color: #e9d8a6;
}

.nav-link:hover {
    color: white;
    text-decoration-line: underline;
}

.navbar-brand {
    padding-bottom: 0;
    color: #e9d8a6;
    font-size: 1.5rem;
}

/* Footer */
footer {
    background-color: #0a9396;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

footer div p {
    color: #e9d8a6;
}

footer ul {
    display: flex;
}

footer ul li {
    display: flex;
    margin: 15px;
    text-decoration: none;
}

footer div form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

footer label {
    color: #e9d8a6;
}

.footer__submit {
    background-color: #005f73;
    color: #e9d8a6;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.footer__submit:hover {
    background-color: #0a9396;
    color: white;
    border: solid white;
}

/* Sección Main General */
main {
    background-image: url(../img/fondoTextil.png);
}

main section img {
    width: 100%;
    border: 15px solid #005f73;
}

.container-fluid {
    padding: 0;
}

.row {
    align-items: baseline;
    justify-content: center;
}

/* Body Home */

/* Sección Main Index */
.index p {
    margin: 10px;
    text-align: justify;
}

.index a {
    font-size: 1rem;
    border-radius: 25px;
    padding: 5px 10px;
}

/* Sección Portada */
.index__portada {
    grid-area: portada;
    width: 100%;
    margin: 58px 0px 0px 0px;
}

/* Sección Historia */
.index__historia {
    text-align: center;
    color: #005f73;
    padding: 20px;
    overflow: hidden;
    grid-area: historia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sección Novedades */
.index__novedades {
    text-align: center;
    color: #005f73;
    padding: 15px;
    overflow: hidden;
    grid-area: novedades;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Sección Familias */
.index__familias {
    text-align: center;
    color: #005f73;
    overflow: hidden;
    grid-area: familias;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Sección Ediciones anteriores */
.index__ediciones-anteriores {
    text-align: center;
    color: #005f73;
    overflow: hidden;
    grid-area: ediciones-anteriores;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Página Novedades */
.novedades__tarjeta {
    text-align: center;
    color: #005f73;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novedades__tarjeta img {
    width: 40%;
}

.novedades__nacimientos {
    text-align: center;
    color: #005f73;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.novedades__cumpleanos {
    text-align: center;
    color: #005f73;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.novedades__floreada {
    text-align: center;
    color: #005f73;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

/* Media query*/
@media screen and (max-width: 993px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .index {
        width: 100%;
    }

    .index__familias {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .index__ediciones-anteriores {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    footer {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 594px) {

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px;
    }

    .portada {
        margin: 290px 0px 0px 0px;
    }

}