.historia {

    &__texto {
        margin: 0 15px 0 15px;
        font-family: Indie Flower;
        font-weight: 600;
    }

    .row {
        @include flex ($items: baseline);
    }
}

.pie-de-foto {
    p {
        font-family: Roboto;
        font-size: 1rem;
    }
}