%secciones {
    text-align: center;
    color: $color-primario;
    padding: 40px;

    p {
        font-family: Indie Flower;
        font-weight: 590;
        margin: 0 15px 0 15px;
    }
}

.novedades {

    div {
        align-items: center;

        p {
            margin: 0 40px 0 40px;
        }
    }

    &__secciones {
        @extend %secciones;

        .row {
            @include flex ();
        }
    }
}