footer {
    background-color: $color-secundario;
    background: linear-gradient(180deg, $color-quinario 0%, $color-secundario 50%, $color-primario 100%);
    width: 100%;

    div {
        @include flex ($contenido: center);

        p {
            color: $color-terciario;
            font-size: 1.5rem;
        }
    }

   
}