nav {
    background-color: $color-secundario;
    background: linear-gradient(180deg, $color-primario 0%, $color-secundario 50%, #6bdddf 100%);
    width: 100%;
    @include flex ($contenido: space-between);
    margin: 0;

    img {
        width: 40px;
        height: 40px;
    }
}

.nav-link {
    color: $color-terciario;

    &:hover {
        color: $color-cuaternario;
        text-decoration-line: underline;
    }
}

.navbar-brand {
    padding-bottom: 0;
    color: $color-terciario;
    font-size: 1.5rem;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .navbar-nav {
        align-items: center;
    }
}