main {
    background-image: url(../img/fondoTextil.png);

    section img {
        width: 100%;
    }

    p {
        font-family: Indie Flower;
        font-size: 1.3rem;
    }
}

h1 {
    font-family: Indie Flower;
    line-height: normal;
}

h2 {
    font-family: Indie Flower;
    line-height: normal;
    font-weight: bold;
}

h3 {
    font-family: Indie Flower;
    line-height: normal;
    font-size: 1;
    font-weight: 550;
    text-align: center;
    color: $color-primario;
}

.container-fluid {
    padding: 0;
}

.row {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.col-lg-5 {
    padding-top: 12px;
    padding-bottom: 12px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.foto-portada {
    width: 100%;
    margin: 58px 0px 0px 0px;
    object-fit: cover;
    object-position: center;
}

.foto {
    @include flex ($direccion: column, $items: stretch);
}

/* Media queries */
@media screen and (max-width: 768px) {
    .foto-portada {
        height: 40vh;
    }
}