.carousel-item {
    p {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }

    img {
        object-fit: cover;
        object-position: center;
    }
}

.carousel-control {
    &-prev {
        width: 30%;
    }

    &-next {
        width: 30%;
    }
}

/* Media queries */
@media screen and (max-width: 768px) {
    .carousel-item {
        img {
            height: 40vh;
        }
    }
}