.carousel-item {
    p {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}

.carousel-control {
    &-prev {
        width: 30%;
    }

    &-next {
        width: 30%;
    }
}